node_modules
# Keep environment variables out of version control
.env
/dist
# uploads
ai-checker/nsfw
ai-checker/nsfw_mobilenet2.224x224.h5
ai-checker/__pycache__
ai-checker/app/__init__.py
ai-checker/app/uploads
ai-checker/app/__pycache__